body{
  /* cursor: grab; */
  cursor: pointer;
}
.title{
  font-family: "monospace", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
/* 
.root{
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.item{
  border: 1px solid #bdc3c7;
  border-radius: 10px,
}
.image {
  width: 100%,;
  height: 100%;
  border-radius: 10px;
}
.image:hover{
  opacity: 1
}
.firstItem{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; 
} */